.nyaabning {
  list-style: none;
  display: flex;
  padding: 5%;
  margin: 0;
  flex-direction: row;
  align-items: flex-start;
  font-size: medium;
  border-radius: 5%;
}

.li_nyaabning {
  font-size: larger;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.logo {
  font-size: x-large;
}

@media (min-width: 786px) {
  .nyaabning {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 800px;
    margin: auto;
    font-size: x-large;
  }
}
