/* GENERAL STYLE */
:root {
  /* --base */
  --primary: var(#cdb535);
  --secondary: var(#000000);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: BasisGrotesque, sans-serif;
}

body {
  font-family: "BasisGrotesque", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  color: var(--primary);
}

header {
  width: 100%;
  padding: 40px 10% 40px 10%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
}
.header-container {
  display: flex;
  padding: 40px 10%;
}

.logo img {
  width: 60px;
}

main {
  display: flexbox;
  justify-content: center;
  padding: 40px 10% 80px 10%;
}
bar-img {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.container {
  width: 100%;
  padding: 40px 10% 40px 10%;
  margin: 0 auto;
}

h2 {
  margin: 0;
  padding: 20px 0 0 0;
}
h3 {
  margin: 0;
  padding: 25px 0 2px 0;
}
p {
  font-family: Open sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
p1 {
  font-family: "BasisGrotesque", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 30px;
}

.menu-item {
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 0.5px solid var(--primary);
}

.item-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.item-name {
  font-weight: bolder;
  font-size: 18px;
}

.item-price {
  align-self: flex-end;
  font-size: 18px;
}

.item-description {
  margin: 2px 0 0 0;
}

/* FOOTER */
.footer {
  background-color: #cdb535;
  color: #000000;
  padding: 60px 0;
  background-image: url("../assets/img/logo/PNG/STJRNE_LOGO_2.png"); /* Change to your image path */
  background-repeat: no-repeat;
  background-position: absolute;
  background-position-x: center;
  background-position-y: 220%;
  background-size: 140%;
  overflow: hidden;
}
.f-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  /* max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; */
  width: 100%;
  padding: 40px 10% 40px 10%;
  margin: 0 auto;
}
.cr {
  /* max-width: 1200px; */
  margin: 0px auto;
  padding: 0 20px;
  color: #000000;
  text-align: center;
  width: 100%;
  padding: 40px 10% 40px 10%;
  margin: 0 auto;
}
.hr {
  border: 1px solid #000000;
  width: 60%;
  margin: 0 auto;
}

.footer-column {
  text-align: center;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #cdb535;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

/* Desktop styles */
@media (min-width: 768px) {
  .menu-item {
    padding: 10px 0;
    border-bottom: 0.5px solid var(--primary);
  }

  .item-header {
    flex-direction: row;
  }

  .item-price {
    align-self: center;
  }
  .f-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer {
    background-color: #cdb535;
    color: #000000;
    padding: 60px 0;
    background-image: url("../assets/img/logo/PNG/STJRNE_LOGO_2.png"); /* Change to your image path */
    background-repeat: no-repeat;
    background-position: absolute;
    background-position-x: 180%;
    background-position-y: 0%;
    background-size: 70%;
    overflow: hidden;
  }

  .footer-column {
    text-align: left;
  }
  .cr {
    text-align: left;
  }
  .hr {
    width: 70%;
    margin: 0;
  }
}
