body {
  font-family: Arial, Helvetica, sans-serif;
}
.old_stjernen {
  max-width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.insta {
  max-width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.stjerneinfo_1 {
  padding-right: 10%;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 24px;
  font-size: 16px;
}
.stjerneinfo_2 {
  padding-right: 10%;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 24px;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  .stjerneinfo_1 {
    padding-right: 45em;
    padding-left: 1%;
  }

  .stjerneinfo_2 {
    padding-right: 30em;
    padding-left: 1%;
  }

  .headercontainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .old_stjernen {
    text-align: left;
    padding-left: 1%;
  }

  .logo {
    font-size: 1em;
    text-align: center;
  }

  .Aabningstider {
    margin-top: 0;
    font-size: 1em;
  }

  .insta {
    padding-left: 1%;
    padding-right: 1%;
  }
}
