body {
  font-family: Arial, Helvetica, sans-serif;
}
.old_stjernen {
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.insta {
  max-width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.stjerneinfo_1 {
  padding-right: 10%;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 24px;
  font-size: 16px;
}
.stjerneinfo_2 {
  padding-right: 10%;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 24px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  body {
    text-align: center;
  }

  .stjerneinfo_1 {
    margin-right: 25%;
    padding-left: 1%;
  }

  .stjerneinfo_2 {
    margin-right: 25%;
    padding-left: 1%;
  }

  .headercontainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .old_stjernen {
    text-align: left;
    padding-left: 1%;
  }

  .logo {
    font-size: 1em;
    text-align: center;
  }

  .Aabningstider {
    margin-top: 0;
    font-size: 1em;
  }

  .insta {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 1025px) {
  .stjerneinfo_1 {
    margin-right: 50%;
    padding-left: 1%;
    text-align: left;
  }

  .stjerneinfo_2 {
    margin-right: 50%;
    padding-left: 1%;
    text-align: left;
  }

  .headercontainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .old_stjernen {
    text-align: left;
    padding-left: 1%;
  }

  .logo {
    font-size: 1em;
    text-align: center;
  }

  .Aabningstider {
    margin-top: 0;
    font-size: 1em;
  }

  .insta {
    padding-left: 1%;
    padding-right: 1%;
  }
}
